@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #ffffff;
  height: 83px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b1b1;
}

.myntra_home {
  height: 60px;
}

.logo_container {
  margin-left: 4%;
}

.action_bar {
  margin-right: 4%;
}

.nav_bar {
  display: flex;
  min-width: 500px;
  justify-content: space-evenly;
}

.nav_bar a {
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 0;
  border-bottom: 5px solid #ffffff;
}

.nav_bar a:hover {
  border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
  color: #ff3f6c;
  font-size: 10px;
}

.search_bar {
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;

  background-color: #f5f5f6;

  font-weight: 300;
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-icon {
  color: #4b5377;
  font-size: 25px;

}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
  outline: none;

}

.search_input:hover {
  border-bottom: 2px solid #f54e77;
}

.suggestions_box {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion_item {
  padding: 10px;
  cursor: pointer;
}

.suggestion_item:hover {
  background-color: #f0f0f0;
}

.action_bar {
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;
}

.action_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Main section */
.banner_container {
  margin: 40px 0;
}

.banner1-2 {
  margin-inline: 40px;
}



.banner_image {
  width: 100%;
}

.category_heading {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;
}

.category-items,
.items-container {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sale_item {
  width: 250px;
}

.footer_container {
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex;
  justify-content: space-evenly;
  position: static;
}

.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column h3 {
  color: #282c3f;
  font-size: 14px;
  margin-bottom: 25px;
}

.footer_column a {
  color: #696b79;
  font-size: 15px;
  text-decoration: none;
  padding-bottom: 5px;
}

.copyright {
  color: #94969f;
  text-align: end;
  padding: 15px;
}

.items-container {
  width: 99%;
  margin: 15px;
}


.item-container {
  width: 250px;
  margin: 10px;
}

.item-image {
  width: 100%;
  height: 350px;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.company-name {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.company {
  font-size: 14px;
  font-weight: 700;
}

.item-name {

  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
  font-size: 14px;
  color: #282c3f;
}


.qty-btn {
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #faf9f9;
  border: 0;
  font-size: 11px;
  width: 80px;
  color: #282c3f;
  font-weight: 700;
  border: 0;
  border: 0.5px solid #e8e7e7;
  border-radius: 5px;

}

.qty-btn:hover {
  border: 2px solid #ff3f6c
}

.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}

.current-price {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.original-price {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount-percentage {
  color: #f16565;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.btn-add-bag {
  margin-top: 8px;
  font-size: 18px;
  width: 100%;
  background-color: lightgreen;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.bag-item-count {
  background-color: #f16565;
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  left: 13px;
  top: -44px;
  font-weight: 700;
  cursor: pointer;
}



.action_container {
  text-decoration: none;
}

a.action_container:link {
  color: black;
}








.bag-items-container {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}







.bag-page {
  width: 75%;
  margin-left: 12.5%;
}

.bag-summary {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0 0 16px;
  color: #282c3f;
  font-size: 13px;
  line-height: 1.42857143;
}

.bag-details-container {
  margin-bottom: 16px;
}

.price-header {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0 16px;
  color: #535766;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
  color: #282c3f;
}

.price-item-value {
  float: right;
}

.priceDetail-base-discount {
  color: #03a685;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}



.bag-item-img {
  width: 100%;
}




.item-sold-by {
  font-size: 12px;
  color: #94969f;

}


.select-qty button {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border: 1px solid rgb(207, 207, 205);
  border-radius: 100%;
}

.select-qty button:hover {
  border: 2px solid #ff3f6c
}


.qty-title {
  text-align: center;
}

.qty-done {
  background-color: rgb(255, 63, 108);
  height: 36px;
  border: none;
  border: 1px solid rgb(227, 226, 226);
  border-radius: 8px;
  color: #ffffff;
}

.return-period {
  display: inline-flex;
  font-size: 12px;
  padding-top: 4qb;
}

.return-icon {
  font-size: 18px;

}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}





/* css for spinner */

.loader {
  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  margin-top: 150px;
  margin-bottom: 150px;
  background-image: linear-gradient(#000000 50px, transparent 0), linear-gradient(#000000 50px, transparent 0), linear-gradient(#000000 50px, transparent 0), linear-gradient(#000000 50px, transparent 0), radial-gradient(circle 14px, #000000 100%, transparent 0);
  background-size: 48px 15px, 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #000000;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000000 64px, transparent 0), linear-gradient(#000000 66px, transparent 0), radial-gradient(circle 4px, #000000 100%, transparent 0);
  background-size: 40px 1px, 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: rotation 0.3s linear infinite;
}

.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* css for product overview */

.pro-overview-container {

  width: 100%;
  height: auto;
  display: block;

}

.product-detail {
  padding: 60px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 90%;
  /* 80% width */
  margin: 0 auto;





}


.product-img-container {

  width: 40%;

}




.product-main-img img {
  width: 85%;
  height: 480px;
  background-size: cover;
  margin-right: 50px;
  display: block;
}




.small-img-group {
  display: flex;
  justify-content: space-between;

  padding-top: 10px;
  margin-right: 75px;

}

.small-img-col {
  flex-basis: 23%;
  cursor: pointer;
}

.small-img-col img {

  height: 100px;
  width: 100%;


}

.product-detail .single-pro-details {
  width: 60%;
}

.product-detail .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

.product-detail .single-pro-details h2 {
  font-size: 26px;
  display: inline-block;
  margin: 0;
}

.single-pro-details .discount {
  padding-left: 15px;
  color: #03a685;
}

.single-pro-details .item-name {
  margin-bottom: 12px;
  font-size: 20px;
}

.single-pro-details .mrp {
  color: rgb(133, 133, 132);

}

.single-pro-details .original-price {
  font-size: 16px;
}

.product-detail .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #F13AB1;
  color: white;



}

.product-detail .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 10px;
  margin-right: 10px;

}

.product-detail .single-pro-details input:focus {
  outline: none;

}

.product-detail .single-pro-details button {

  height: 45px;


}

.product-detail .single-pro-details span {
  line-height: 25px;
}


.select-size button {

  width: 70px;
  background-color: white;
  border: 2px solid rgb(236, 234, 229);
  border-radius: 0 25px 0 25px;
  margin-right: 10px;
  margin-bottom: 10px;


}

.select-size button:hover {
  border-color: #ff3f6c;
}


.Link {
  text-decoration: none;
  color: black;
}





/* css for home-banner component  */

.banner-1 {
  width: 50%;
}

.banner-2 {
  width: 50%;
}

.coupan {
  width: 99%;
}

.coupan-1 {
  width: 100%;
}

.coupan-2 {

  width: 49%;
}

.brand-rush {
  width: 100%;
  margin-top: 20px;
}

.category-to-cart {
  width: 99%;
}




/* css for catogery component  */
.category-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.box {
  background-image: url(../images/b-g.png);
  height: 377px;
  margin-top: 7px;
  background-size: cover;
  width: 222px;
  border-radius: 10px;
  margin: 15px;

}

.box-content {
  padding: 7px;
  color: white;

}

.box-img img {
  height: 280px;
  border-radius: 10px;
}


.box h4 {
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.box h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

.box p {
  text-align: center;
  font-size: 20x;
  margin: 0;
  font-weight: 500;
}


.entire-section {
  text-align: center;
  margin-top: 20px;
  color: brown;
}

.allInOnePlace {

  height: 100px;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  margin-top: 10px;

}

.allInOnePlace h1 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 550;
  font-style: normal;
  font-size: 60px;
  color: #c42e37;
}

.allInOnePlace img {
  width: 100px;
}